body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:lightblue;

header {
    background: Darkblue; 
    color: lightgrey;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: underline;
    color: lightgrey;
}

main {
    padding: 20px;
    background: lightgrey;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: darkblue;
    color: lightgrey;
    position: relative;
    bottom: 0;
    width: 100%;
} 
}